<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BotUI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css" />
</head>
<body>

Welcome to the YouTube chat!
<br>

<div id="my-botui-app">
	<bot-ui></bot-ui>
</div>

<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
<script src="https://unpkg.com/botui/build/botui.min.js"></script>
<script src="public/bot.js"></script>
</body>
</html>